* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

* {
    font-family: "Oswald", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0;
}

.header {
    background-color: #fff;
    min-height: 105vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 10px;
    right: 0;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #461873;
    font-family: "Pacifico", cursive;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 12px;
    color: #eabffa;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #6910a8;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-family: "Pacifico", cursive;
    color: #461873;
    font-size: 60px;
    line-height: 45px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 5px;
    margin-bottom: 40px;
}

.header-content p {
    color: #000000;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    padding: 0 100px;
    margin-bottom: 19px;
}

/* -------------Botones---------- */

.btn-1 {
    display: inline-block;
    background-color: rgba(134, 109, 201, 0.5);
    border: 1px solid #6910a8;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color: #fff;
    border-radius: 25px;
}

.btn-1:hover {
    background-color: #461873;
}
